.catalog-offers {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .catalog-offers {
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.catalog-offer__cards-list {
  display: grid;
  justify-content: center;
  gap: 30px;
}

.catalog-offer__cards-item {
  border: solid 1px;
  border-color: rgb(159 159 159 / 26%);
  width: 260px;
}

.catalog-offer__cards-image-tablet {
  display: none;
}

.catalog-offer__cards-image-mobail {
  display: flex;
}

@media (min-width: 768px) {
  .catalog-offer__cards-list {
    gap: 55px;
    justify-content: center;
  }

  .catalog-offer__cards-item {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    width: 100%;
    max-width: 730px;
  }

  .catalog-offer__cards-image-tablet {
    display: flex;
  }

  .catalog-offer__cards-image-mobail {
    display: none;
  }
}

.catalog-offer__cards-paragraph {
  margin-top: 0;
  font-size: 17px;
}

.catalog-offer__cards-image {
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .catalog-offer__cards-image {
    padding-bottom: 0;
    height: 100%;
  }
  .catalog-offer__cards-paragraph {
    margin-top: 0;
    font-size: 20px;
  }
}
@media (min-width: 1150px) {
  .catalog-offer__cards-image {
    padding-bottom: 0;
    object-fit: cover;
    width: 100%;
    height: revert-layer;
  }
}

.catalog-offer__cards-info_wrapper {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.catalog-offer__cards-info-header_wrapper {
  flex-grow: 0;
}

@media (min-width: 768px) {
  .catalog-offer__cards-info_wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .catalog-offer__cards-info-header_wrapper {
    flex-grow: 1;
  }
}

@media (min-width: 1150px) {
  .catalog-offer__cards-info_wrapper {
    height: 100%;
  }
  .catalog-offer__cards-info-header_wrapper {
    display: grid;
  }
  .catalog-offer__cards-paragraph {
    margin-top: 0;
    font-size: 24px;
  }
}

.stick {
  position: absolute;
  top: 0;
  background-color: rgb(159 159 159 / 26%);
  width: 100%;
  height: 1px;
}

.catalog-offer__cards-item__price_wrapper {
  display: flex;
  position: relative;
  padding-top: 20px;
  padding-bottom: 25px;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 768px) {
  .catalog-offer__cards-item__price_wrapper {
    padding-bottom: 0;
    grid-row: 5 / 6;
    align-self: end;
  }
}

@media (min-width: 1150px) {
  .catalog-offers {
    width: calc(100% - 100px);
    max-width: 1150px;
    margin: 0 auto;
  }

  .catalog-offer__cards-list {
    display: flex;
  }

  .catalog-offer__cards-item {
    display: flex;
    flex-direction: column;
  }
}

.catalog-offer__cards-item__backet-button {
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 15px;
  right: -10px;
  top: 5px;
}

.catalog-offer__cards-item__backet-button:active
  .catalog-offer__cards-item__backet-image {
  opacity: 0.5;
}
