.contacts {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 40px;
}

.contacts__header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__image-tablet {
  display: none;
}

.contacts__image-desktop {
  display: none;
}

@media (min-width: 768px) {
  .contacts {
    padding-top: 50px;
    padding-bottom: 60px;
    padding-right: 0;
    padding-left: 0;
  }

  .contacts__image-tablet {
    display: block;
  }
}

@media (min-width: 1150px) {
  .contacts {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    max-width: 1050px;
    margin: 0 auto;
  }
  .contacts__header-wrapper {
    grid-column: 2/ 3;
    grid-row: 1/2;
    padding-left: 0;
  }
  .contacts__header {
    margin-bottom: 0;
  }
  .contacts__image-tablet {
    display: none;
  }
  .contacts__image-desktop {
    display: flex;
    align-self: self-end;
    grid-column: 1/2;
    grid-row: 1/ 2;
  }
}

.contacts__table {
  padding: 0 30px;
}

.contacts__table__body {
  max-width: 300px;
  line-height: 30px;
}

.contacts__table__row {
  padding-right: 30px;
}

@media (min-width: 768px) {
  .contacts__table__body {
    display: flex;
  }

  .contacts__table__row {
    padding-right: 70px;
  }

  .contacts__table {
    padding: 0 50px;
  }
}

.contacts__table__row {
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
}

.contacts__table__data_first-column {
  width: 80px;
  align-items: start;
}

.contacts__table__data_second-column {
  width: 180px;
}

@media (min-width: 1150px) {
  .contacts__table__body {
    display: flex;
    flex-direction: column;
  }

  .contacts__table__row {
    padding-right: 0;
    padding-bottom: 0;
  }

  .contacts__table {
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 80px;
    padding-left: 0;
    grid-column: 2 / 3;
  }
}

.contacts__table__data_email {
  color: #000000;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: solid 1.5px;
  border-color: hsl(168, 55%, 60%);
}

.contacts__button {
  text-transform: uppercase;
  padding: 16px 38px;
  background-color: #ffffff;
  width: 260px;
  margin: 0 auto;
  grid-column: 2 / 3;
}

@media (min-width: 768px) {
  .contacts__button {
    width: 230px;
  }
}
@media (min-width: 1150px) {
  .contacts__button {
    margin: 0;
  }
}

.map {
  width: 100%;
  padding-bottom: 55px;
}

@media (min-width: 1150px) {
  .map {
    grid-column: 3 / -1;
    grid-row: 1 / 5;
    height: 100%;
  }
}
