.info-head {
  display: none;
}

@media (min-width: 1150px) {
  .info-head {
    display: flex;
    background: transparent;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
  }
}

.info-head__paragraph {
  display: flex;
  padding: 27px 25px;
  margin: 0;
  font-size: 15px;
}

.info-head__paragraph_first {
  padding: 27px 50px;
  padding-right: 27px;
}

.info-head__paragraph_last {
  margin-left: auto;
  padding-right: 50px;
  color: #444;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
}
