// .main__head {
//   display: flex;
//   padding-top: 0;
//   padding-bottom: 0;
//   padding-left: 0;
//   padding-right: 50px;
//   background-color: #8080800d;
// }

.main__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  background-color: #f1f1f1;
  position: relative;
}

.catalog__head__header {
  margin-bottom: 0;
}

.main-head__wrapper {
  display: none;
}

@media (min-width: 768px) {
  .main__head {
    min-height: 255px;
  }
}
@media (min-width: 1150px) {
  .main__head {
    min-height: auto;
  }
  .catalog__head__header {
    padding: 50px 0 75px 0;
  }
}
