// .main__head {
//   display: flex;
//   padding-top: 0;
//   padding-bottom: 0;
//   padding-left: 0;
//   padding-right: 50px;
//   background-color: #8080800d;
// }

.main__head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #f1f1f1;
  position: relative;
}

.main-head__wrapper {
  display: none;
}

@media (min-width: 768px) {
  .main__head {
    padding-top: 60px;
  }
}
